In [1]:
# https://plotly.com/javascript/gapminder-example/

import pandas as pd
import csv

In [3]:
# get data - life expectancy
life_expectancy_df = pd.read_csv('./pet_pals/data/Life_Expectancy_Data.csv')
life_expectancy_df

,Country,Year,Status,Life Expectancy,Adult Mortality,Infant Deaths,Alcohol,Percentage Expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

In [5]:
# get data - continents - https://www.kaggle.com/andradaolteanu/country-mapping-iso-continent-region
continents_df = pd.read_csv('./pet_pals/data/continents2.csv')
continents_df.columns

Index(['name', 'alpha-2', 'alpha-3', 'country-code', 'iso_3166-2', 'region',
       'sub-region', 'intermediate-region', 'region-code', 'sub-region-code',
       'intermediate-region-code'],
      dtype='object')

In [8]:
# Drop all unwanted columns
continents_df.drop(columns=['alpha-2', 'alpha-3', 'country-code', 'iso_3166-2',
        'intermediate-region', 'region-code', 'sub-region-code',
       'intermediate-region-code'], inplace=True)
continents_df

               Country   region          sub-region
0          Afghanistan     Asia       Southern Asia
1        Åland Islands   Europe     Northern Europe
2              Albania   Europe     Southern Europe
3              Algeria   Africa     Northern Africa
4       American Samoa  Oceania           Polynesia
..                 ...      ...                 ...
244  Wallis and Futuna  Oceania           Polynesia
245     Western Sahara   Africa     Northern Africa
246              Yemen     Asia        Western Asia
247             Zambia   Africa  Sub-Saharan Africa
248           Zimbabwe   Africa  Sub-Saharan Africa

[249 rows x 3 columns]

In [9]:
# Rename the column to country
continents_df.rename(columns={'name': 'Country'}, inplace=True)
continents_df

               Country   region          sub-region
0          Afghanistan     Asia       Southern Asia
1        Åland Islands   Europe     Northern Europe
2              Albania   Europe     Southern Europe
3              Algeria   Africa     Northern Africa
4       American Samoa  Oceania           Polynesia
..                 ...      ...                 ...
244  Wallis and Futuna  Oceania           Polynesia
245     Western Sahara   Africa     Northern Africa
246              Yemen     Asia        Western Asia
247             Zambia   Africa  Sub-Saharan Africa
248           Zimbabwe   Africa  Sub-Saharan Africa

[249 rows x 3 columns]

In [12]:
# Merge life_expectancy and continents dataframe
life_exp_df = pd.merge(life_expectancy_df, continents_df, on=['Country'])
life_exp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2618 entries, 0 to 2617
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2618 non-null   object
 1   Year                             2618 non-null   int64
 2   Status                           2618 non-null   object
 3   Life Expectancy                  2608 non-null   float64
 4   Adult Mortality                  2608 non-null   float64
 5   Infant Deaths                    2618 non-null   int64
 6   Alcohol                          2443 non-null   float64
 7   Percentage Expenditure           2618 non-null   float64
 8   Hepatitis B                      2121 non-null   float64
 9   Measles                          2618 non-null   int64
 10  BMI                              2584 non-null   float64
 11  under-five deaths                2618 non-null   int64
 12  Polio                            2599 non-null   float64
 13  Total expenditure                2427 non-null   float64
 14  Diphtheria                       2599 non-null   float64
 15  HIV/AIDS                         2618 non-null   float64
 16  GDP                              2418 non-null   float64
 17  Population                       2206 non-null   float64
 18   thinness  1-19 years            2584 non-null   float64
 19   thinness 5-9 years              2584 non-null   float64
 20  Income composition of resources  2595 non-null   float64
 21  Schooling                        2599 non-null   float64
 22  region                           2618 non-null   object
 23  sub-region                       2618 non-null   object
dtypes: float64(16), int64(4), object(4)
memory usage: 511.3+ KB

In [14]:
life_exp_df.columns

Index(['Country', 'Year', 'Status', 'Life Expectancy', 'Adult Mortality',
       'Infant Deaths', 'Alcohol', 'Percentage Expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling',
       'region', 'sub-region'],
      dtype='object')

In [16]:
life_exp_df.rename(columns={
    'Life Expectancy': 'Life_Expectancy'
}, inplace=True)

life_exp_df

,Country,Year,Status,Life_Expectancy,Adult Mortality,Infant Deaths,Alcohol,Percentage Expenditure,Hepatitis B,Measles,...,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,region,sub-region
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,Asia,Southern Asia
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,Asia,Southern Asia
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,Asia,Southern Asia
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,Asia,Southern Asia
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,Asia,Southern Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2,Africa,Sub-Saharan Africa
2614,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5,Africa,Sub-Saharan Africa
2615,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0,Africa,Sub-Saharan Africa
2616,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8,Africa,Sub-Saharan Africa
2617,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8,Africa,Sub-Saharan Africa

In [17]:
# Export to csv
life_exp_df.to_csv(path_or_buf= './pet_pals/data/Life.csv', sep=',', encoding='utf-8')

In [20]:
# Filter for year 2015
life_exp_2015_df = life_exp_df.loc[life_exp_df['Year'] == 2015]
life_exp_2015_df

,Country,Year,Status,Life_Expectancy,Adult Mortality,Infant Deaths,Alcohol,Percentage Expenditure,Hepatitis B,Measles,...,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,region,sub-region
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,Asia,Southern Asia
16,Albania,2015,Developing,77.8,74.0,0,4.60,364.975229,99.0,0,...,99.0,0.1,3954.227830,28873.0,1.2,1.3,0.762,14.2,Europe,Southern Europe
32,Algeria,2015,Developing,75.6,19.0,21,NaN,0.000000,95.0,63,...,95.0,0.1,4132.762920,39871528.0,6.0,5.8,0.743,14.4,Africa,Northern Africa
48,Angola,2015,Developing,52.4,335.0,66,NaN,0.000000,64.0,118,...,64.0,1.9,3695.793748,2785935.0,8.3,8.2,0.531,11.4,Africa,Sub-Saharan Africa
64,Antigua and Barbuda,2015,Developing,76.4,13.0,0,NaN,0.000000,99.0,0,...,99.0,0.2,13566.954100,NaN,3.3,3.3,0.784,13.9,Americas,Latin America and the Caribbean
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2538,Uzbekistan,2015,Developing,69.4,184.0,15,NaN,0.000000,99.0,22,...,99.0,0.1,2137.576852,312989.0,3.0,3.1,0.697,12.1,Asia,Central Asia
2554,Vanuatu,2015,Developing,72.0,13.0,0,NaN,0.000000,64.0,39,...,64.0,0.1,285.834140,26463.0,1.5,1.4,0.598,10.8,Oceania,Melanesia
2570,Yemen,2015,Developing,65.7,224.0,37,NaN,0.000000,69.0,468,...,69.0,0.1,NaN,NaN,13.6,13.4,0.499,9.0,Asia,Western Asia
2586,Zambia,2015,Developing,61.8,33.0,27,NaN,0.000000,9.0,9,...,9.0,4.1,1313.889646,161587.0,6.3,6.1,0.576,12.5,Africa,Sub-Saharan Africa
2602,Zimbabwe,2015,Developing,67.0,336.0,22,NaN,0.000000,87.0,0,...,87.0,6.2,118.693830,15777451.0,5.6,5.5,0.507,10.3,Africa,Sub-Saharan Africa

In [21]:
# Export to csv
life_exp_2015_df.to_csv(path_or_buf= './pet_pals/data/Life_2015.csv', sep=',', encoding='utf-8')